###
#
# .gitignore - List of files to prevent from tracking in repo
#
# @version     3.0.0
# @package     wp_theme_lyquix
# @author      lyquix
# @copyright   Copyright (C) 2015 - 2024 Lyquix
# @license     GNU General Public License version 2 or later
# @link        https://github.com/lyquix/wp_theme_lyquix
#
###

# gitignore common files
.DS_Store
Thumbs.db
Desktop.ini
*Zone.Identifier
.idea

# gitignore for wp_theme_lyquix
/.sass-cache
node_modules
bun.lockb
package.lock
php/browsers/browsers.json
php/ip2geo/GeoLite2-City.*
php/update.json
