###
#
# .htaccess - Apache directory configuration
#
# @version     3.0.0
# @package     wp_theme_lyquix
# @author      lyquix
# @copyright   Copyright (C) 2015 - 2024 Lyquix
# @license     GNU General Public License version 2 or later
# @link        https://github.com/lyquix/wp_theme_lyquix
#
###

# Disable directory listing
Options -Indexes
